<div
  class="card mb-3 rounded-4"
  style="background-color: #333331; border: none"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Find something..."
      aria-label="Search"
      aria-describedby="search-icon"
      style="
        border: none;
        box-shadow: none;
        color: #dbeaf6;
        background-color: #333331;
      "
    />
    <div class="input-group-append">
      <span id="search-icon">
        <i
          class="fa-solid fa-search"
          style="
            font-size: medium;
            color: white;
            padding: 8px;
            margin: 6px;

            background-color: none;
            border-radius: 50px;
          "
        ></i>
      </span>
    </div>
  </div>
</div>
