<div
  class="card p-3 rounded-4 border-0 mb-4"
  style="background-color: #292e34; color: white"
>
  <h6 style="font-family: Arial, sans-serif">Cryptocurrencies</h6>
  <div>
    <div class="d-flex justify-content-start mb-4">
      <div style="font-size: xx-large">
        <i
          class="fa-brands fa-bitcoin"
          style="
            color: white;
            background-color: orange;
            padding: 5px;
            border-radius: 5px;
          "
        ></i>
      </div>

      <div class="d-flex flex-column align-items-start ms-3">
        <div style="font-weight: 200">Bitcoin</div>
        <div style="color: darkgrey">qhgj kjhs js</div>
      </div>
    </div>
    <div class="d-flex justify-content-start mb-4">
      <div style="font-size: xx-large">
        <i
          class="fa-brands fa-ethereum"
          style="
            color: white;
            background-color: purple;
            padding: 6px 11px;
            border-radius: 5px;
          "
        ></i>
      </div>

      <div class="d-flex flex-column align-items-start ms-3">
        <div style="font-weight: 200">Ethercum</div>
        <div style="color: darkgrey">qhgj kjhs js</div>
      </div>
    </div>
    <div class="d-flex justify-content-start mb-4">
      <div style="font-size: xx-large">
        <i
          class="fa-solid fa-sun"
          style="
            color: white;
            background-color: coral;
            padding: 5px;
            border-radius: 5px;
          "
        ></i>
      </div>

      <div class="d-flex flex-column align-items-start ms-3">
        <div style="font-weight: 200">XRP</div>
        <div style="color: darkgrey">qhgj kjhs js</div>
      </div>
    </div>
  </div>

  <h6>Today</h6>
  <div class="d-flex justify-content-between mb-2 mt-1">
    <div style="font-weight: 200">Bitcoin</div>
    <div style="color: red">-0.24%</div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <div style="font-weight: 200">Ethereum</div>
    <div style="color: green">+6.7%</div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <div style="font-weight: 200">XRP</div>
    <div style="color: green">+3.17%</div>
  </div>
</div>
